<div style="padding: 50px;">
<h3>Game Play History Records</h3>
<button id="clrBtn" class="btn btn-outline-danger">Clear History</button>
<table class="table table-striped">
    <thead>
        <tr>
            <td>
                <b>#</b>
            </td>
            <td>
                <b>Bet</b>
            </td>
            <td>
                <b>Won</b>
            </td>
            <td>
                <b>Balance</b>
            </td>
            <td>
                <b>Timestamp</b>
            </td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>